schema/sample_Customers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Customer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CompanyName" type="xs:string" />
        <xs:element name="ContactName" type="xs:string" />
        <xs:element name="ContactTitle" type="xs:string" />
        <xs:element name="Phone" type="xs:string" />
        <xs:element name="FullAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Address" type="xs:string" />
              <xs:element name="City" type="xs:string" />
              <xs:element name="Region" type="xs:string" />
              <xs:element name="PostalCode" type="xs:unsignedInt" />
              <xs:element name="Country" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="CustomerID" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>